/* srcery_vars.css */

:root {
    --srcery-black:   #1c1b19;
    --srcery-red:     #ef2f27;
    --srcery-green:   #519f50;
    --srcery-yellow:  #fbb829;
    --srcery-blue:    #2c78bf;
    --srcery-magenta: #e02c6d;
    --srcery-cyan:    #0aaeb3;
    --srcery-white:   #d0bfa1;

    --srcery-bright-black:   #918175;
    --srcery-bright-red:     #f75341;
    --srcery-bright-green:   #98bc37;
    --srcery-bright-yellow:  #fed06e;
    --srcery-bright-blue:    #68a8e4;
    --srcery-bright-magenta: #ff5c8f;
    --srcery-bright-cyan:    #53fde9;
    --srcery-bright-white:   #fce8c3;

    --srcery-hard-black:     #121212;

    --srcery-orange:         #ff5f00;

    --srcery-xgray1:         #262626;
    --srcery-xgray2:         #303030;
    --srcery-xgray6:         #585858;
}
